.cart-view {
    margin: 20px 40px;
    .underline-long {
        @include underline(0%, 0%, null);
        @include respond-to('tablet') {
            @include underline(0%, 20%, null);
        }
        @include respond-to('desktop') {
            @include underline(0%, 30%, null);
        }
    }

    .underline-short {
        @include underline(0%, 40%, null);
        @include respond-to('tablet') {
            @include underline(0%, 60%, null);
        }
    }
    .pages-link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    h2,
    h3 {
        font-weight: $font-weight-medium;
        color: var(--color-text);
    }
    h3 {
        margin: 20px 10px;
    }
    h4,
    p {
        color: var(--color-text);
    }

    .underline-extra-short {
        @include underline(0%, 40%, null);
        @include respond-to('tablet') {
            @include underline(0%, 70%, null);
        }
    }
    .account-underline-center {
        margin: 20px 0px;
        @include underline(20%, 20%, null);
        @include respond-to('tablet') {
            @include underline(40%, 40%, null);
        }
    }
    .cart-list {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        .cart-amount {
            text-align: center;
        }
        .cart-product-list {
            all: unset;
            display: flex;
            flex-direction: column;
            gap: 25px;
            @include respond-to('tablet') {
                margin: 20px 40px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @include respond-to('desktop') {
                grid-template-columns: repeat(3, 1fr);
            }
            .cart-product-details {
                all: unset;
                display: flex;
                flex-direction: row;
                img {
                    width: 60%;
                    @include respond-to('tablet') {
                        width: 40%;
                    }
                    @include respond-to('desktop') {
                        width: 30%;
                    }
                }
                .cart-text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 5px;
                    @include respond-to('tablet') {
                        gap: 4px;
                        margin-left: 20px;
                    }
                    .cart-text-price {
                        strong {
                            display: block;
                            margin: 2px 0 0;
                        }

                        @include respond-to('tablet') {
                            strong {
                                display: inline;
                                margin: 4px;
                            }
                        }
                    }
                    button {
                        width: 100% !important;
                        height: 14%;

                        @include respond-to('tablet') {
                            width: 90% !important;
                            height: 20%;
                        }
                        @include respond-to('desktop') {
                            width: 90% !important;
                            height: 20%;
                        }
                    }
                    .cart-product-quantity {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .quantity-controls {
                            display: inline-flex;
                            align-items: center;
                            gap: 4px;
                        }

                        button {
                            width: 15px !important;
                            height: 18px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
    }
    .title-login-cart {
        text-align: center;
        margin-bottom: 30px;
    }
    .shipping-options {
        label {
            display: flex;
            gap: 6px;
            margin-bottom: 8px;
            input {
                margin-top: -22px;
                @include respond-to('tablet') {
                    margin-top: 0px;
                }
            }
        }
        p {
            margin-bottom: 8px;
        }
        @include respond-to('tablet') {
            margin: 8px 40px;
        }
    }
    .terms-checkbox {
        span {
            padding-left: 4px;
        }
        a {
            color: var(--color-text);
        }
        @include respond-to('tablet') {
            display: flex;
            margin: 8px 40px;
        }
    }
    .button-purchase,
    .no-cart {
        text-align: center;
        padding-top: 20px;
        button {
            width: 65%;
            @include respond-to('tablet') {
                width: 50%;
            }
        }
    }
}
