*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    min-height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}

body {
    font-family: $primary-font;
    background-color: var(--color-background-body);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
